@using ShopAuto.Models;
@model List<MenuList>

@foreach (var item in Model)
{
    if (item.ID == 1)
    {
        <li class="nav-item active px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="@item.URLMenu"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </li>
    }
    else
    {
        <li class="nav-item px-lg-3">
            <a class="nav-link text-uppercase text-expanded " href="@item.URLMenu">@item.MenuName</a>
    </li>
    }
    
}

